<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsV7nCXH3M9I1sjhrsCjjCvmUeqG03vBE</string>
	<key>GCM_SENDER_ID</key>
	<string>1091546165889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odoo.jash</string>
	<key>PROJECT_ID</key>
	<string>jash-odoo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>jash-odoo-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091546165889:ios:bdaba89188299d9c6c5380</string>
</dict>
</plist>